
  @import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-image: url('bg-img.gif');
    background-repeat: no-repeat;
    background-size: cover;
}
.screen{
    box-shadow:4px 4px 9px 9px rgba(0, 0, 0, 0.474);
    height: 82%;
    width: height;
    background-color: rgb(27, 24, 24);
    border-radius: 15px;
   
    display: flex;
    align-items: center;
    justify-content: center;
    aspect-ratio: 450/600;
    max-width: 450px;
    max-height: 600px;
    
}
.calculator{
    background-color:rgba(40, 37, 37, 0.753);
    height: 98%;
    width: 98%;
    border-radius: 15px;
}
.top{
    height: 20%;
    border-bottom: 4px solid black;
}
#display{
    height: 100%;
    width: 100%;
   background-color: rgba(93, 89, 89, 0.896);
   border: none;
   border-radius: 10px;
   text-align: left;
   padding: 5px;
   color: white;
   font-size: 5rem;
   overflow:visible
   
}

.keys{
    height: 80%;
    display: grid;
  grid-template-columns: repeat(4,1fr);
  grid-template-rows: repeat(5,1fr);
  grid-gap: 5px;
    padding: 4px;
}
button{
    border-radius: 50%;
    border: 3px solid hsla(35, 82%, 49%, 0.903);
    background-color: rgba(93, 89, 89, 0.896);
    font-family: Arial, sans-serif;
    font-size: 2.5rem;
    color: rgb(198, 211, 221);
    margin: 0 6%;
    cursor: pointer;
}
.specialKeys{
    background-color: hsla(35, 91%, 61%, 0.893);
}
.keys :hover{     
    background-color:  hsl(0, 0%, 40%);
    color:white;
}
.keys :active{
    background-color: hsl(0, 0%, 50%);
}
.specialKeys:hover{
    background-color: hsla(35, 100%, 70%, 0.893);
}
.specialKeys:active{
    background-color: hsla(35, 53%, 62%, 0.893);
}
.keys :last-child{
    grid-column-start: 2;
    grid-column-end: 5;
    border-radius: 5px;
    margin: 8px;
}